@charset "UTF-8";

* { 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #4726B8, #7A1FB8);
    background-attachment: fixed;
    margin: 0;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

#principal {
    background-color: #2A5FB8;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p1 {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
.marktext {
    background-color: #ff2600;
    padding: 0 5px;
}

#exemplo {
    background-color: #2A8CB8;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.htmlex1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    background-color:#333;
}

.cssex1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    background-color:#333;
}

.cssex2 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    background-color:#333;
}
