@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --font-family: 'Arial' Verdana, sans-serif;
    --font-destaque: 'Archivo Black', sans-serif;
}

body {
    background-color: black;
    color: #ffffff;
    font-family: var(--font-family);
}

header {
    background-color: var(--header-background-color);
    padding: 10px;
    border-radius: 10px;
}

header > nav {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

img#logo {
    display: block;
    margin: 20px auto;
    width: 80%;
}

main {
    background-color: var(--main-background-color);
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

main > article {
    margin: auto;
    width: 100%;
}

#titleprimary {
    font-family: var(--font-destaque);
    text-align: center;
    color: #ffffff;
}

main > article > iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}

article#sinopse {
    font-family: var(--font-destaque);
}

.texto-sinopse {
    font-family: var(--font-destaque);
    color: #ffffff;
    text-align: justify;
    margin: 20px auto;
    width: 90%;
}